@charset "utf-8";
*{
    margin: 0;
    padding: 0;
}
body{
    .background-image{
        background-image: 
    url("app/images/bg.jpg");
    height: 100vh;
    background-size: cover;
    background-position: center center;
}
.wrapper{
    width: 1170px;
    margin: auto;
}
